<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.administrator.kdc"
    android:versionCode="1"
    android:versionName="1.0">

    <!-- 百度API所需权限 -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <!-- <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" > -->
    <!-- </uses-permission> -->
    <!-- <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" > -->
    <!-- </uses-permission> -->
    <!-- <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" > -->
    <!-- </uses-permission> -->
    <!-- <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" > -->
    <!-- </uses-permission> -->
    <!-- <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" > -->
    <!-- </uses-permission> -->
    <!-- <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" > -->
    <!-- </uses-permission> -->
    <!-- <uses-permission android:name="android.permission.READ_LOGS" > -->
    <!-- </uses-permission> -->
    <!-- <uses-permission android:name="android.permission.VIBRATE" /> -->
    <!-- <uses-permission android:name="android.permission.WAKE_LOCK" /> -->


    <!-- 获取当前位置的权限 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 获取网络功能的权限 -->
    <!-- sd卡写权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 创建文件权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- sd读权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <!-- 连接服务器 -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- 获取GSM（2g）、WCDMA（联通3g）等网络状态的信息 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--获取wifi网络状态的信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--保持CPU 运转，屏幕和键盘灯有可能是关闭的,用于文件上传和下载 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!--允许读取手机状态 用于创建BmobInstallation-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- iBeancon功能所需权限 -->;
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <!-- 个推3.0电子围栏功能所需权限 -->

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />



    <application
        android:name=".utils.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!--
       -    <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" >
            <intent-filter>
              <action android:name="com.baidu.location.service_v2.2" >
                <action android:name="com.example.administrator.kdc.utils" >
                </action>
            </intent-filter>
        </service>
        -->

        <!-- 我的访问应用ak -->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="hN4VoCixFHSih157j8PaX8mpDSkRvolb" />

        <activity android:name=".activity.MaplistActivity" />
        <activity android:name=".activity.MapActivity"></activity>
        <activity android:name=".activity.VenuesshowActivity" />
        <activity android:name=".activity.MusterActivity" />
        <activity android:name=".activity.MustershowActivity" />
        <activity android:name=".activity.HomeActivity">

    </activity>
        <activity android:name=".activity.CollectionActivity">

        </activity>
        <activity android:name=".activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Community.Myfocus.MyMain2"></activity>
        <activity android:name=".Community.MyCommunitymain.MyMain"></activity>
        <activity android:name=".Community.CommunityGetPicture.BitmapCache"></activity>
        <activity android:name=".activity.BackActivity"></activity>
        <activity android:name=".activity.RegistredActivity"></activity>
        <activity android:name=".activity.RegistredOverActivity"></activity>
        <activity android:name=".activity.VenuessfriendActivity" />
        <activity android:name=".activity.LiveActivity" />
        <activity android:name=".activity.UploadActivity"></activity>
        <activity android:name=".activity.MainActivity"></activity>
        <activity android:name=".activity.MusterlistActivity"></activity>
        <activity android:name=".activity.UserInfoActivity"/>
        <activity android:name=".activity.ChatsActivity" />
        <activity android:name=".activity.AaActivity" />
        <activity android:name=".activity.NewFriendActivity" />
        <activity android:name=".activity.CollectionActivity2" />
        <activity android:name=".activity.OrderActivity">
        </activity>
        <activity android:name=".activity.OrderActivity2"/>
        <activity android:name=".activity.AllOrderActivity">
        </activity>
        <activity android:name=".activity.UserActivity"/>
        <activity android:name=".activity.GoPayActivity"></activity>

        <activity android:name=".activity.EvaluationActivity" />
        <activity android:name=".activity.ManagementActivity"></activity>

        <!-- 以下为图片activity >
        <activity android:name=".Community.CommunityGetPicture.BitmapCache" />
        <activity
            android:name=".Community.CommunityGetPicture.TestPicActivity"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name=".Community.CommunityGetPicture.ImageGridActivity"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name=".Community.CommunityGetPicture.PublishedActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name=".Community.CommunityGetPicture.PhotoActivity"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity android:name=".Community.CommunityMainLayout.CommunityMainHome"></activity>
        <activity android:name=".SignTbl.MainActivity">

    </activity-->
        <activity android:name=".Community.CommunityLayout.CommunityHome" >

        </activity>
        <activity android:name=".Community.Search.Community_SearchActivity" >

        </activity>
        <activity android:name=".Community.CommunityPostComment.CommunityPost_comment_Activity" >

        </activity>
        <activity android:name=".Community.CommunitySendPost.C_send_Post_Activity">

        </activity>
        <activity android:name=".Community.CommunityMainLayout.CommunityMain" >

        </activity>
        <activity android:name=".Community.CommunityPostDetails.ComunityPost_details_Activity">

        </activity>
        <!-- 以下为图片activity -->
        <activity
            android:name=".Community.CommunityGetPicture.TestPicActivity"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name=".Community.CommunityGetPicture.ImageGridActivity"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name=".Community.CommunityGetPicture.PublishedActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name=".Community.CommunityGetPicture.PhotoActivity"
            android:theme="@android:style/Theme.NoTitleBar" />
        <!--activity android:name=".SignTbl.MainActivity">

    </activity-->
        <activity android:name=".Community.DaySign.DaySign" >
            <!--intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter-->
        </activity>
        <activity android:name=".Community.Search.Community_Post_SearchActivity">

        </activity>
        <activity android:name=".Community.CommunityMainLayout.CommunityMainHome">

        </activity>






        <!-- 个推SDK配置开始 -->
        <!-- 配置的第三方参数属性 -->
        <meta-data
            android:name="PUSH_APPID"
            android:value="qs9ysNGhC09gvYXDit2I" /> <!-- 替换为第三方应用的APPID -->
        <meta-data
            android:name="PUSH_APPKEY"
            android:value="86olBLBY626q78BMlyV7pA" /> <!-- 替换为第三方应用的APPKEY -->
        <meta-data
            android:name="PUSH_APPSECRET"
            android:value="p1WwueOoFH88H5eA6PemM4" /> <!-- 替换为第三方应用的APPSECRET -->
        <!-- 配置SDK核心服务 -->
        <service
            android:name="com.igexin.sdk.PushService"
            android:exported="true"
            android:label="NotificationCenter"
            android:process=":pushservice" >
            <intent-filter>
                <action android:name="com.igexin.sdk.action.service.message"/>
            </intent-filter>
        </service>

        <service
            android:name="com.igexin.sdk.PushServiceUser"
            android:exported="true"
            android:label="NotificationCenterUser">
            <intent-filter>
                <action android:name="com.igexin.sdk.action.user.message"/>
            </intent-filter>
        </service>

        <receiver android:name="com.igexin.sdk.PushReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="com.igexin.sdk.action.refreshls" />
                <!-- 以下三项为可选的action声明，可大大提高service存活率和消息到达速度 -->
                <action android:name="android.intent.action.MEDIA_MOUNTED" />
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.igexin.sdk.PushManagerReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.igexin.sdk.action.pushmanager" />
            </intent-filter>
        </receiver>
        <activity
            android:name="com.igexin.sdk.PushActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:process=":pushservice"
            android:taskAffinity="com.igexin.sdk.PushActivityTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.igexin.sdk.GActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:process=":pushservice"
            android:taskAffinity="com.igexin.sdk.PushActivityTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <service
            android:name="com.igexin.download.DownloadService"
            android:process=":pushservice" />
        <receiver android:name="com.igexin.download.DownloadReceiver" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <!-- 把"你的包名"替换为第三方应用的包名 -->
        <provider
            android:name="com.igexin.download.DownloadProvider"
        android:authorities="downloads.com.example.administrator.kdc"
        android:exported="true"
        android:process=":pushservice" />
        <!-- 个推SDK配置结束 -->

        <!-- 配置第三方Receiver -->

        <!-- 此处com.getui.demo.PushDemoReceiver，需要替换成开发者自己的BroadcastReceiver -->
        <receiver

        android:name="com.example.administrator.kdc.broadcastreceiver.MyBroadcastReceive"
        android:exported="false">
        <intent-filter>
            <action android:name="com.igexin.sdk.action.86olBLBY626q78BMlyV7pA" />
        </intent-filter>
    </receiver>


    </application>

</manifest>